body {
  background: #0D1847;
}

// form表单,dialog弹出框
.el-form,
.el-dialog,
.el-steps--simple,
.el-scrollbar {
  // background: linear-gradient(to bottom, #0D1F38, #0D1D35, #0D1E36);

  .el-dialog__header {
    color: #e6ecf8;

    .el-dialog__title {
      color: #e6ecf8;
    }

    button {
      background-color: #162A50;
      color: #9099AD;
      border-color: #1E4288;
    }
  }

  .el-select-dropdown__item.hover {
    background-color: #1f3e7a;
    color: #9099AD;
  }

  .el-form-item__label {
    color: aliceblue;
  }

  &&::before {
    background-color: #0032a6;
  }
}

// 表格
.el-table,
.el-table--striped .el-table__body {
  background-color: #EBEEF500;

  &::before {
    background-color: #EBEEF500;
  }

  .has-gutter,
  tr {
    background: linear-gradient(to bottom, #0D1F38, #0D1D35, #0D1E36);
  }

  th.el-table__cell,
  th.el-table__cell.is-leaf {
    background: #0A2D6B50;
    color: #7BB0FF;
    border-top: 1px solid rgba(36, 137, 255, 0.3);
    border-bottom: 1px solid rgba(36, 137, 255, 0.3);

    &:nth-of-type(1) {
      border-left: 1px solid rgba(36, 137, 255, 0.3);
    }

    &:nth-last-of-type(2) {
      border-right: 1px solid rgba(36, 137, 255, 0.3);
    }

    &:nth-last-of-type(1) {
      border: none;
    }
  }

  tr.el-table__row td.el-table__cell {
    background-color: #0B255C;
    border-bottom-color: rgba(148, 201, 255, 0.1);
    color: #B8BECC;
  }

  tr.el-table__row--striped td.el-table__cell {
    background: #0C2359;
  }

  tr.current-row td.el-table__cell,
  tr.el-table__row--striped.current-row td.el-table__cell {
    background-color: #053369;
    border-bottom-color: #2975F2;
    border-top: 1px solid #2975F2;
    color: #94C9FF;
  }
}

.el-table__body-wrapper {
  .el-table__body {
    width: 100% !important;
  }
}

.el-select-dropdown {
  border-color: #1E4288;
}

// input
.el-input__inner,
.el-range-input,
.el-textarea__inner,
.el-textarea .el-input__count {
  background-color: #162A50;
  color: #868D9C !important;
  border-color: #1E4288;
}

// 日历范围选择器文本
.el-range-separator,
.el-date-editor>.el-range-separator {
  color: #9099AD;
}

// 日历选择器，下拉列表
.el-picker-panel,
.el-picker-panel__footer,
.el-select-dropdown__empty,
.el-dropdown-menu {
  background-color: #162A50;
  color: #f8faff;

  .el-dropdown-menu__item {
    color: #f8faff;
  }

  .el-button--mini {
    background-color: #00306B;
    border-color: #0962CB;
    color: #f8faff;
  }
}

// 日历选择器
.el-date-table {
  td.in-range {
    div {
      background-color: #485a6a;
    }
  }

  td.start-date {
    span {
      background-color: #0001ff;
    }
  }

  th {
    color: #0064ff;
  }
}

// 日历选择器左右选择器
.el-picker-panel__icon-btn {
  color: #f2f6ff;
}

.el-time-spinner__item.active:not(.disabled) {
  color: #568bf5;
}

.el-time-panel__btn {
  color: #9ca0a9;
}

// button按钮
.el-button--primary {
  background-color: #00306B;
  border-color: #0962CB;

  &.is-disabled {
    background-color: #7e8fa1;
  }
}

// radio选择器
.el-radio__label {
  color: #59b9d8;
}

// 滑动框
* {
  &::-webkit-scrollbar-track {
    background-color: #063570;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #0257aa;
  }
}

// 分页
.el-pagination {

  .el-pagination__total,
  .el-pagination__jump {
    color: #B8BECC;
  }

  .btn-prev,
  .btn-next,
  .el-pager li {
    color: #B8BECC;
    background-color: #40536900;

    &:disabled {
      background-color: #40536900;
    }

    &.active {
      color: #2187FF;
      background-color: #0962CB00;
    }
  }
}

.el-dialog {
  background: #ffffff00;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../弹窗背景.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &.el-dialog::before {
    background-color: #0032a600;
  }
}

@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei.ttf') format('truetype');
}

@font-face {
  font-family: 'YouSheBiaoTiHei-Regular';
  src: url('./YouSheBiaoTiHei-Regular.ttf') format('truetype');
}